
  <div *ngFor="let item of pel" id="pelicula">
      <div class="card" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" height="250px" width="175px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p>Año de lanzamiento:{{item.release_date}}</p>
            <button type="button" (click)="getdet(item.id)" class="btn btn-primary">detalles</button>
              <div *ngFor="let item of det" > 
                  <ul>
                      <li *ngFor="let item1 of item.genres">{{item1.name}}</li>
                  </ul>
              </div>
          </div>
        </div>
  </div>
