<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <div class="bg">
    <input type="text" #buscar placeholder="buscar pelicula....">
    <button type="button" (click)="getMovies(buscar)" > buscar </button>
  </div>
  <div class="bg">
    <input type="text" #buscara placeholder="buscar pelicula por actor ">
    <button type="button" (click)="getActor(buscara)" > buscar </button>
  </div>
  <div *ngFor="let item of act">
    <div *ngFor="let item1 of item.known_for">
     <h1>{{item1.original_title}}</h1>
     <img src="https://image.tmdb.org/t/p/original/{{item1.poster_path}} "  height="250px" width="175px"  alt="">
     
    </div>
  </div>
  <app-peliculas [pelicula] ="pel"  ></app-peliculas>
</body>
</html>